* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-feature-settings: "cv11" 1;
}

body {
  margin: 0;

  border: 1px solid black;

  min-height: 100dvh;

  padding: 20px;

  background-color: #e0e0e0;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

h1 {
  font-weight: 300;
  letter-spacing: -0.02em;
  margin: 0;
}

.canto-topo-esquerda {
  position: relative;
  text-align: left;
}

.canto-topo-esquerda h1 {
  font-size: 2.5rem;
  font-weight: lighter;
}

.menu-lateral {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1rem;
}

.menu-lateral a,
.Button-contato {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-align: left;
}

.canto-baixo-direita {
  position: relative;
  text-align: left;
  line-height: 1.5;
  font-size: 1rem;
  min-height: 50px;
}

#texto-troca a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

#texto-troca a:hover {
  color: #777;
}

.noise {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200vh;
  pointer-events: none;
  z-index: 999;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.2;
  animation: noise-animation 0.2s infinite;
}

@keyframes noise-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

#texto-troca {
  font-weight: bold;
}

@media (min-width: 1024px) {
  body {
    margin: 40px;
    margin-bottom: 50px;
    min-height: auto;
    height: calc(100vh - 80px);
    padding: 0;
    overflow: hidden;
    display: block;
  }

  .canto-topo-esquerda {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  .canto-topo-esquerda h1 {
    font-size: 3rem;
  }

  .menu-lateral {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    gap: 15px;
  }

  .canto-baixo-direita {
    position: absolute;
    right: 40px;
    bottom: 40px;
    top: auto;
    text-align: right;
    max-width: 400px;
  }
}
